
profile.html
profile.html.bak
profile.html.bak.bak
profile_files/01.jpg
profile_files/3.png
profile_files/c.jpg
profile_files/insta.jpg
profile_files/mail.jpg
profile_files/np.jpg
profile_files/phone.jpg
profile_files/vsc.jpg
project.html
